body {
    background-color:coral;
}

h1 {
    color: green;
	text-align:center;
}
.img-with-text  {
	text-align: justify;
	width: 200px;
}
.img-with-text  {
	display: block;
	margin: 0 auto;
}

	